[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
pygame = "*"

[dev-packages]
black = "*"
isort = "*"
pytest = "*"

[requires]
python_version = "3.11"

[scripts]
main = 'python ss/main.py'
black = 'python -m black .'
isort = 'python -m isort .'
test = 'python -m pytest -vx'
