[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
pygame = "*"

[dev-packages]
black = "*"
isort = "*"
pytest = "*"
mypy = "*"
flake8 = "*"

[requires]
python_version = "3.11"

[scripts]
main = 'python ss/main.py'
lint = 'lint.bat'
test = 'python -m pytest -vx'
